.footer {
  background: #1E88E5;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
nav1{
    align-items: center;
    display: flex;
    justify-content: center;
}
nav1 > u1{
    align-items: center;
    display: flex;
    gap: 30px;
    list-style: none;
}
nav1 > u1 > l1 >a{
    color: aliceblue;
    text-decoration: none;
}