*{
    box-sizing: border-box; /*permite que el contenidoi no se desborde*/
    margin: 0;  /*Quita el espaciado externo*/
    padding: 0; /*Quita el espaciado interno*/
}
body{
    background: #4dacff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}