.registro{
    background: #83b9eb;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
.submit{
    background-color: #0D47A1;
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}